.active{
    color: skyblue;
    font-weight: bold;
}
.navigation-buttons:hover{
    color: skyblue;
    font-weight: bold;
}
.up{
    background: rgb(14,176,233);
background: radial-gradient(circle, rgb(46, 199, 255) 0%, rgba(24,24,27,1) 30%);
}

#myDiv{
    background-color: transparent;
}
#dropdown{
    display: none;
}
.sub{
    width: 100%;
    background-color: rgba(24,24,27,0.5);
}